html {
    box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;

}
body {
    background-color: #0E103D;
    color: #D3BCC0;
}

.main-header {
    color : orangered;
}

.notes__header{
    color : yellowgreen;
}

.week-summary__title {
    color : yellow;
}

.navigation {
    background-color:#69fff8;
    border-radius: 10px;
    padding: 10px;
}
.navigation__link {
    color: black;
    padding: 16px;
}


.quad-header {
    color: green;
}

.main {
    max-width: 800px;
    margin: 0px auto;
}
.week-summary {
    border: 2px whitesmoke solid;
    padding : 8px;
    margin-bottom: 10px;
}
.footer {
    max-width: 800px;
    margin: 0px auto;
}
.header-body {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: 0px auto;

}