body {
    background-color: #0E103D;
    color: #D3BCC0;
}

.second-header {
    color : yellowgreen
}

.first-header {
    color: orangered;
}

.third-header {
    color : yellow;
}

a {
    color: lawngreen;
}
.nav-panel a {
    color:hotpink;
}

